In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/financial_report_clean.csv')

# Display the first few rows
df.head()

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Operating Cash Flow
0,Apple,2022,394328.0,99803.0,352755.0,302083.0,122151.0
1,Apple,2021,365817.0,94680.0,351002.0,287912.0,104038.0
2,Apple,2020,274515.0,57411.0,323888.0,258549.0,80674.0
3,Microsoft,2022,198270.0,72738.0,364840.0,198298.0,89000.0
4,Microsoft,2023,211915.0,72361.0,411976.0,205753.0,87600.0

In [12]:
# Check the column names and data types
print(df.columns)
print(df.dtypes)

# Check for missing data
print(df.isnull().sum())

# (Optional) Fill missing data or drop rows if needed
# df = df.dropna()  # or fill with zeros, etc.

Index(['Company', 'Year', 'Total Revenue', 'Net Income', 'Total Assets',
       'Total Liabilities', 'Operating Cash Flow', 'Revenue Growth (%)',
       'Net Income Growth (%)', 'Total Assets Growth (%)',
       'Total Liabilities Growth (%)', 'Cash Flow Growth (%)'],
      dtype='object')
Company                          object
Year                              int64
Total Revenue                   float64
Net Income                      float64
Total Assets                    float64
Total Liabilities               float64
Operating Cash Flow             float64
Revenue Growth (%)              float64
Net Income Growth (%)           float64
Total Assets Growth (%)         float64
Total Liabilities Growth (%)    float64
Cash Flow Growth (%)            float64
dtype: object
Company                         0
Year                            0
Total Revenue                   0
Net Income                      0
Total Assets                    0
Total Liabilities               0
Operating Cash Flow             0
Revenue Growth (%)              3
Net Income Growth (%)           3
Total Assets Growth (%)         3
Total Liabilities Growth (%)    3
Cash Flow Growth (%)            3
dtype: int64

In [17]:
# Calculate year-over-year percentage change for each metric
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100
df['Total Assets Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
df['Total Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['Operating Cash Flow'].pct_change() * 100

In [14]:
# Calculate mean growth rates for each company
summary = df.groupby('Company')[[
    'Revenue Growth (%)',
    'Net Income Growth (%)',
    'Total Assets Growth (%)',
    'Total Liabilities Growth (%)',
    'Cash Flow Growth (%)'
]].mean().reset_index()

print(summary)

     Company  Revenue Growth (%)  Net Income Growth (%)  \
0      Apple          -16.094328             -22.248115
1  Microsoft           11.275996              10.641059
2      Tesla            9.871422             -16.633261

   Total Assets Growth (%)  Total Liabilities Growth (%)  Cash Flow Growth (%)
0                -4.110844                     -7.444849            -18.642774
1                18.619143                     11.097838             16.877867
2                21.990535                     15.269114              1.302660

In [7]:
# Save to a new CSV
df.to_csv('financial_analysis_results.csv', index=False)

In [15]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [19]:
# Example financial data (replace with real numbers from your analysis)
financial_data = {
    "Microsoft": {
        "Total Revenue (2024)": "$230 billion",
        "Net Income Change": "increased by 15%",
        "Cash Flow": "$80 billion"
    },
    "Tesla": {
        "Total Revenue (2024)": "$90 billion",
        "Net Income Change": "decreased by 5%",
        "Cash Flow": "$15 billion"
    },
    "Apple": {
        "Total Revenue (2024)": "$400 billion",
        "Net Income Change": "increased by 10%",
        "Cash Flow": "$110 billion"
    }
}

In [ ]:
def simple_chatbot():
    print("Welcome to the Financial Chatbot!")
    print("You can ask about total revenue, net income change, or cash flow for Microsoft, Tesla, or Apple.")

    while True:
        user_query = input("Please enter your question (or type 'exit' to quit): ").lower()

        if user_query == "exit":
            print("Goodbye!")
            break
        elif "total revenue" in user_query:
            if "microsoft" in user_query:
                print("Microsoft's total revenue in 2024 is", financial_data["Microsoft"]["Total Revenue (2024)"])
            elif "tesla" in user_query:
                print("Tesla's total revenue in 2024 is", financial_data["Tesla"]["Total Revenue (2024)"])
            elif "apple" in user_query:
                print("Apple's total revenue in 2024 is", financial_data["Apple"]["Total Revenue (2024)"])
            else:
                print("Please specify a company: Microsoft, Tesla, or Apple.")
        elif "net income" in user_query:
            if "microsoft" in user_query:
                print("Microsoft's net income has", financial_data["Microsoft"]["Net Income Change"])
            elif "tesla" in user_query:
                print("Tesla's net income has", financial_data["Tesla"]["Net Income Change"])
            elif "apple" in user_query:
                print("Apple's net income has", financial_data["Apple"]["Net Income Change"])
            else:
                print("Please specify a company: Microsoft, Tesla, or Apple.")
        elif "cash flow" in user_query or "operating activities" in user_query:
            if "microsoft" in user_query:
                print("Microsoft's cash flow from operating activities in 2024 is", financial_data["Microsoft"]["Cash Flow"])
            elif "tesla" in user_query:
                print("Tesla's cash flow from operating activities in 2024 is", financial_data["Tesla"]["Cash Flow"])
            elif "apple" in user_query:
                print("Apple's cash flow from operating activities in 2024 is", financial_data["Apple"]["Cash Flow"])
            else:
                print("Please specify a company: Microsoft, Tesla, or Apple.")
        else:
            print("Sorry, I can only provide information on total revenue, net income change, or cash flow for Microsoft, Tesla, or Apple.")

# Run the chatbot
simple_chatbot()

Welcome to the Financial Chatbot!
You can ask about total revenue, net income change, or cash flow for Microsoft, Tesla, or Apple.
Please enter your question (or type 'exit' to quit): total revenue
Please specify a company: Microsoft, Tesla, or Apple.
Please enter your question (or type 'exit' to quit): microsoft,tesla,apple
Sorry, I can only provide information on total revenue, net income change, or cash flow for Microsoft, Tesla, or Apple.
Please enter your question (or type 'exit' to quit): total revenue
Please specify a company: Microsoft, Tesla, or Apple.
Please enter your question (or type 'exit' to quit): apple
Sorry, I can only provide information on total revenue, net income change, or cash flow for Microsoft, Tesla, or Apple.
Please enter your question (or type 'exit' to quit): cash flow for Microsoft
Microsoft's cash flow from operating activities in 2024 is $80 billion
Please enter your question (or type 'exit' to quit): What is the total revenue for Apple?
Apple's total revenue in 2024 is $400 billion
Please enter your question (or type 'exit' to quit): How has net income changed for Tesla
Tesla's net income has decreased by 5%

In [ ]:
python chatbot.py